* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.center {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

button {
  display: block;
  margin: 8px auto;
  padding: 8px;
  background-color: rgb(9, 132, 227);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
button:hover { opacity: 0.9; }
button:disabled {
  opacity: 0.5;
  cursor: default;
}

a {
  text-decoration: none;
  color: rgb(9, 132, 227);
}

form { text-align: center; }

input {
  display: block;
  margin: 8px auto;
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 8px;
}